<div class="col-xl-12">
    <h5 class="mt-4 text-primary">Mes Commandes </h5>
    <hr>
    <div class="row">
        <div class="col-sm-4" *ngFor='let f of commandes'>

            <div class="card text-black-50">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-primary"><b>Numero de Commande:  </b>{{f.numero}}</h5>
                    <p class="card-text">
                        <li class="list-group-item "><b>Montant Total:  </b>{{f.montant | number : '1.2-2'}} FCFA</li>
                        <li class="list-group-item "><b>Date Commande:  </b>{{f.datecommande}} </li>
                        <li class="list-group-item "><b>Date Livraison:  </b>{{f.dateLivraison}} </li>
                        <li class="list-group-item "><b>Nombre d'article:  </b>{{f.details_commandes.length}} </li>
                    </p>
                </div>
                <div class="card-footer ">
                    <div class="row ">
                        <div class="col-xl-8">
                            <button class='btn btn-warning btn-sm'>{{f.etat}}</button> &nbsp; &nbsp;
                            <button class='btn btn-primary btn-sm' routerLink="/dashboard/default/basic/badges/{{f.id}}"><i class="fas fa-eye"></i></button>


                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>